{% extends "base.html" %} {% load static %} {% load i18n %}{% block title %}Reservas {% endblock title %} {% block extra_css %}{% endblock extra_css%}{% block contenido %}

<h2>Reservas</h2>
<form method="POST">
    {% csrf_token %} {{ form.as_p }}
    <input type="hidden" value="{{user.username}}">
    <input type="hidden" value="{{user.email}}">
    <input type="submit" value="Reservar">
</form>
<h2>{{user.username}}</h2>
<h2>{{user.email}}</h2>{% block extra_js %}{% endblock extra_js %}{% endblock contenido %}