<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock title %}</title>
    {% load static %}
</head>

<body>
    <h1>Inicio</h1>
    <h2> Bienvenido {{user}}</h2>

    <ul>
        <li>
            <a href="{% url 'users_app:logout' %}">Cerrar sesión</a></li>
        <li>
            <a href="{% url 'users_app:login' %}">Login</a>
        </li>
        <li>
            <a href="{% url 'users_app:registro' %}">Registro</a>
        </li>
        <li>
            <a href="{% url 'users_app:update' %}">Cambiar contraseña</a>
        </li>
    </ul>
    <div id="main">
        {% block contenido %} {% endblock contenido %}
    </div>
</body>

</html>