{% load static %} {% load i18n %}
<!DOCTYPE html>
<html lang="{{ lang.0 }}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="{% static 'css/select_languages.css' %}" rel="stylesheet">
    <link href="{% static 'css/style_header.css' %}" rel="stylesheet">
    <title>{% block title %} {% endblock title %}</title>
</head>

<body>

    <div class="header">
        <div class="rayitas">
            <img id="menu" src="{% static 'imagenes/icons8-menú-redondeado-96.png' %}" alt="show menu">
        </div>
        <h1>{% trans 'Inicio' %}</h1>
        <h2> {% trans 'Bienvenido' %} {{user}}</h2>

        <h2>{% trans 'Cambiar idioma' %}</h2>
        <form action="/i18n/setlang/" method="post">
            {% csrf_token %}
            <div style="display:inline;"></div>
            <select name="language" onchange="javascript:form.submit()">
                {% for lang in LANGUAGES %}
                <option value="{{ lang.0 }}" {% if LANGUAGE_CODE %} selected="selected" {% endif %}>
                    {{ lang.1}}
                </option>
                {% endfor %}
            </select>
        </form>

        <!-- <div id="select_language">
            <form action="/i18n/setlang/" method="post">
                {% csrf_token %}
                <div class="selectbox">
                    <div class="select " id="select">
                        <div class="contenido-select">
                            <h1 class="titulo">{% trans 'Selecciona tu idioma' %}</h1>

                        </div>
                        <img src="{% static 'imagenes/icons8-flecha-ampliar-30.png' %}" alt="show languages">
                    </div>
                    <div class="opciones" id="opciones">
                        <a href="#" class="opcion">
                            <div class="contenido-opcion">
                                <img src="{% static 'imagenes/icons8-spain-48.png' %}" alt="Spain">
                                <div class="textos">
                                    <h2 class="titulo">{% trans 'España' %}</h2>
                                    <p class="descripcion">ES</p>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="opcion">
                            <div class="contenido-opcion">
                                <img src="{% static 'imagenes/icons8-portugal-48.png' %}" alt="Portugal">
                                <div class="textos ">
                                    <h2 class="titulo">{% trans 'Portugal' %}</h2>
                                    <p class="descripcion">PT</p>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="opcion">
                            <div class="contenido-opcion">
                                <img src="{% static 'imagenes/icons8-france-48.png' %}" alt="France ">
                                <div class="textos">
                                    <h2 class="titulo">{% trans 'Francia' %}</h2>
                                    <p class="descripcion">FR</p>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="opcion">
                            <div class="contenido-opcion">
                                <img src="{% static 'imagenes/icons8-italy-48.png' %}" alt="Italy">
                                <div class="textos">
                                    <h2 class="titulo">{% trans 'Italia' %}</h2>
                                    <p class="descripcion">IT</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <input type="hidden" name="pais" id="inputSelect" value="{{ lang.0 }}">
            </form>
        </div>

    </div> -->

        <div id="nav" class="active">
            <ul>
                <li>
                    <a href="{% url 'users_app:logout' %}">{% trans 'Cerrar sesión' %}</a></li>
                <li>
                    <a href="{% url 'users_app:login' %}">{% trans 'Login' %}</a>
                </li>
                <li>
                    <a href="{% url 'users_app:registro' %}">{% trans 'Registro' %}</a>
                </li>
                <li>
                    <a href="{% url 'users_app:update' %}">{% trans 'Cambiar contraseña' %}</a>
                </li>
            </ul>
        </div>


        <div id="main">
            {% block contenido %} {% endblock contenido %}
            <!-- {% trans 'Cambiar lenguaje' %} -->
            <!-- <form action="/i18n/setlang/ " method="post " style="display:inline; ">
            {% csrf_token %}
            <div style="display:inline; ">
                <select name="langage " id=" ">
                    
                    <option value="en "selected="selected ">Inglés</option>
                    <option value="es "selected="selected ">Español</option>
                    
                </select>
                <hr> -->

        </div>
        <!-- </form> -->

    </div>
    <script src="{% static 'js/select_languages.js' %}"></script>
    <script src="{% static 'js/menu.js' %}"></script>
</body>

</html>